In [1]:
print("Hello World")

Hello World

In [6]:
numbers = [1,2,3]
new_list = []

for n in numbers:
    add_1 = n+1

new_list.append(add_1)

print(numbers)
print(new_list)

[1, 2, 3]
[4]

In [7]:
new_list = [n+1 for n in numbers]

In [8]:
print(new_list)

[2, 3, 4]

In [15]:
double = [x*2 for x in range(1,5)]
print(double)

[2, 4, 6, 8]

In [11]:
new_numbers = [n+1 for n in numbers]
print(new_numbers)

[2, 3, 4]

In [12]:
name = "Ahmet"
letters_list = [letter for letter in name]
print(letters_list)

['A', 'h', 'm', 'e', 't']

In [18]:
names = ["Alex", "Beth" , "Caroline" , "Dave", "Elanor", "Freddie"]
print(names)

['Alex', 'Beth', 'Caroline', 'Dave', 'Elanor', 'Freddie']

In [24]:
long_names = [name.upper() for name in names if len(name) > 5]

print(long_names)

['CAROLINE', 'ELANOR', 'FREDDIE']

In [25]:
numbers = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55]
# ðŸš¨ Do Not Change the code above ðŸ‘†

#Write your 1 line code ðŸ‘‡ below:
squared_numbers = [number**2 for number in numbers]
#Write your code ðŸ‘† above:

print(squared_numbers)

[1, 1, 4, 9, 25, 64, 169, 441, 1156, 3025]

In [27]:
numbers = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55]
# ðŸš¨ Do Not Change the code above

#Write your 1 line code ðŸ‘‡ below:
result = [x for x in numbers if x%2 == 0]
#Write your code ðŸ‘† above:
print(result)

[2, 8, 34]

In [64]:
file1 = "C://Users//AHNARIN//Desktop//Ahnarin//100_days_of_coding//day26of100//file1.txt" 
file2 = "C://Users//AHNARIN//Desktop//Ahnarin//100_days_of_coding//day26of100//file2.txt"

file1_values = []
file2_values = []


with open(file1, 'r') as file:
    for line in file:
        number = int(line)
        file1_values.append(number)

with open(file2, 'r') as file:
    for line in file:
        number = int(line)
        file2_values.append(number)

print(file1_values)
print(file2_values)

result = [x for x in file1_values if x in file2_values]


print(result)

[3, 6, 5, 8, 33, 12, 7, 4, 72, 2, 42, 13]
[3, 6, 13, 5, 7, 89, 12, 3, 33, 34, 1, 344, 42]
[3, 6, 5, 33, 12, 7, 42, 13]